<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span routerLink=''>Comparative Argumentative Machine</span>
    <span class="spacer"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-menu-item routerLink='' [ngClass]="{'nav-selected': selectedTab == 'home'}" (click)="setSelectedTab('home')">
        Home </button>
      <button mat-menu-item routerLink='/About' [ngClass]="{'nav-selected': selectedTab == 'about'}" (click)="setSelectedTab('about')">
        About </button>
      <button mat-menu-item (click)='goToGit()'> GitHub </button>
      <button mat-menu-item routerLink='/API-Info' [ngClass]="{'nav-selected': selectedTab == 'api'}" (click)="setSelectedTab('api')">
        API </button>
      <button mat-menu-item routerLink='/Contact' [ngClass]="{'nav-selected': selectedTab == 'contact'}" (click)="setSelectedTab('contact')">
        Contact </button>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink='' (click)="setSelectedTab('home')"> Home </button>
  <button mat-menu-item routerLink='/About' (click)="setSelectedTab('about')"> About </button>
  <button mat-menu-item (click)='goToGit()'> GitHub </button>
  <button mat-menu-item routerLink='/API-Info' (click)="setSelectedTab('api')"> API </button>
  <button mat-menu-item routerLink='/Contact' (click)="setSelectedTab('contact')"> Contact </button>
</mat-menu>