<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span routerLink=''>Comparative Argumentative Machine</span>
    <span class="spacer"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-menu-item routerLink='' [ngClass]="{'nav-selected': selectedTab == 'CAM'}" (click)="setSelectedTab('CAM')">
        CAM </button>
      <button mat-menu-item routerLink='/Search' [ngClass]="{'nav-selected': selectedTab == 'Search'}" (click)="setSelectedTab('Search')">
        Search </button>
      <div style="margin-left: 10%"></div>
      <button mat-menu-item routerLink='/About' [ngClass]="{'nav-selected': selectedTab == 'About'}" (click)="setSelectedTab('About')">
        About </button>
      <button mat-menu-item (click)='goToGit()'> GitHub </button>
      <button mat-menu-item routerLink='/API-Info' [ngClass]="{'nav-selected': selectedTab == 'API-Info'}" (click)="setSelectedTab('API-Info')">
        API </button>
      <button mat-menu-item routerLink='/Contact' [ngClass]="{'nav-selected': selectedTab == 'Contact'}" (click)="setSelectedTab('Contact')">
        Contact </button>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink='' (click)="setSelectedTab('CAM')"> CAM </button>
  <button mat-menu-item routerLink='' (click)="setSelectedTab('Search')"> Search </button>
  <button mat-menu-item routerLink='/About' (click)="setSelectedTab('About')"> About </button>
  <button mat-menu-item (click)='goToGit()'> GitHub </button>
  <button mat-menu-item routerLink='/API-Info' (click)="setSelectedTab('API-Info')"> API </button>
  <button mat-menu-item routerLink='/Contact' (click)="setSelectedTab('Contact')"> Contact </button>
</mat-menu>