<h1>Contact information</h1>
    <br>
    <br>
    <br>
    <table class="borderless table">
      <tr>
        <td>Name:</td>
        <td>Dr. Alexander Panchenko</td>
      </tr>
      <tr>
        <td>Position:</td>
        <td>PostDoc</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>panchenko...informatik.uni-hamburg.de </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>+49 40 42883 2368</td>
      </tr>
      <tr>
        <td>Fax:</td>
        <td>+49 40 42883 2345</td>
      </tr>
      <tr>
        <td>Office:</td>
        <td>F-416</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>
          <p>Informatikum</p>
          <p>Vogt-Kölln-Straße 30</p>
          <p>22527 Hamburg</p>
        </td>
      </tr>
    </table>
    <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/alexander-panchenko.html">Link to University profile</a>
