<mat-card>
  <form nonvalidate (ngSubmit)="compIfEntered()">
    <table class="table table-borderless">
      <tr>
        <td class='text-right' style='width:38%'>
          <mat-form-field class="object-input">
            <input matInput placeholder='First object' #objA [(ngModel)]='object_A' name="objA" style='font-size: 20px'>
          </mat-form-field>
        </td>
        <td class='align-middle text-center' style='font-size: 16px'>versus</td>
        <td style='width:38%'>
          <mat-form-field class="object-input">
            <input matInput placeholder='Second object' #objB [(ngModel)]='object_B' name="objB" style='font-size: 20px'>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-divider></mat-divider>
        </td>
      </tr>
      <tr>
        <td class='align-middle text-right'>
          <mat-form-field>
            <mat-select [(ngModel)]='selectedModel' name="modelSelect">
              <mat-option selected value="default">
                Default
              </mat-option>
              <mat-option value="ml1">
                ML BoW
              </mat-option>
              <mat-option value="ml2">
                ML Infersent
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <th class='align-middle text-center'>
          <button type="submit" mat-raised-button color="primary" [disabled]='!objectsEntered()'>
            Compare!
          </button>
          &nbsp;
          <button (click)='resetInput()' mat-raised-button type="button">
            Reset
          </button>
        </th>
        <td class='align-middle'>
          <mat-checkbox [(ngModel)]="fastSearch" name="fastSearch">Faster Search</mat-checkbox>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
  <div *ngIf='showLoading' class="text-center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <small>{{status}}</small>
  </div>
</mat-card>
<br>
<br>
<app-result-presentation id="resultPresentation" (chipSelected)="chipSelected($event)" (submitRatings)="submitRatings($event)"></app-result-presentation>