.slidecontainer {
    width: 53%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
  }

  /* .mat-accent .mat-slider-thumb .mat-accent .mat-slider-thumb-label .mat-accent .mat-slider-track-fill {
    background-color: #007bff;
  } */

  
.object-input {
  width: 75%;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: dotted;
}

.table {
  margin-bottom: 0;
}


/* .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #0069d9;
} */
