<mat-card>
  <table class="table table-borderless">
    <tr>
      <td class='text-right' style='width:40%'>
        <mat-form-field class="object-input">
          <input matInput placeholder='First object' #objA [(ngModel)]='object_A' style='font-size: 20px' (keyup.enter)='compIfEntered()'>
        </mat-form-field>
      </td>
      <td class='align-middle text-center' style='font-size: 16px'>versus</td>
      <td style='width:40%'>
        <mat-form-field class="object-input">
          <input matInput placeholder='Second object' #objB [(ngModel)]='object_B' style='font-size: 20px' (keyup.enter)='compIfEntered()'>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-divider></mat-divider>
      </td>
    </tr>
    <tr *ngFor='let aspect of aspects'>
      <td class='text-right'>
        <mat-form-field class="example-full-width">
          <input matInput placeholder='Aspect' id='asp{{aspect}}' [(ngModel)]='aspectDict[aspect]' style='font-size: 17px' (keyup.enter)='compIfEntered()'>
          <mat-hint align="start">
            e.g. price
          </mat-hint>
        </mat-form-field>
      </td>
      <td class='align-middle text-center'>
        <button (click)='removeAspect(aspect)' mat-mini-fab color="primary" [disabled]='!aspectDict[aspect] && aspects.length == 1'>
          <mat-icon aria-hidden='true'>remove
          </mat-icon>
        </button>
      </td>

      <td>
        <div class='slidecontainer'>
          <label for="importance">Aspect importance:</label>
          <mat-slider class='slider' min='1' max='5' step='1' thumb-label="true" tick-interval="1" [(ngModel)]='weightDict[aspect]'
            name="importance" (keyup.enter)='compIfEntered()'>
          </mat-slider>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class='align-middle text-center'>
        <button (click)='addAspect()' mat-mini-fab color="primary">
          <mat-icon aria-hidden='true'>add
          </mat-icon>
        </button>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <mat-divider dotted></mat-divider>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class='align-middle text-right'>

        <mat-form-field>
          <mat-select [(ngModel)]='selectedModel'>
            <mat-option selected value="default">
              Default
            </mat-option>
            <mat-option value="ml1">
              ML BoW
            </mat-option>
            <mat-option value="ml2">
              ML Infersent
            </mat-option>
          </mat-select>
        </mat-form-field>

      </td>
      <th class='align-middle text-center'>
        <button (click)='compare()' mat-raised-button color="primary" [disabled]='!objectsEntered()'>
          Compare!
        </button>
      </th>
      <td class='align-middle'>
        <mat-checkbox [(ngModel)]="fastSearch">Faster Search</mat-checkbox>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class='text-center'>
        <button (click)='resetInput()' mat-raised-button>
          Reset
        </button>
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <div *ngIf='showLoading' class="text-center">
    <!-- <mat-spinner style="margin:0 auto;"></mat-spinner> -->
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <small>{{status}}</small>
  </div>
</mat-card>
<br>
<br>
<app-result-presentation></app-result-presentation>