<mat-card>
  <form nonvalidate (ngSubmit)="compIfEntered()">
    <table class="table table-borderless">
      <tr>
        <td class='text-right' style='width:38%'>
          {{object_A}}
        </td>
        <td class='align-middle text-center' style='font-size: 16px'>versus</td>
        <td style='width:38%'>
          {{object_B}}
        </td>
      </tr>
      <tr>
        <td>
          <mat-divider></mat-divider>
        </td>
      </tr>
      <tr>
        <td>
          <div *ngIf='showStartText' class="text-center">
            Thanks for taking part in rating CAM's generated aspects. Click on Start to get started!
          </div>
          <div *ngIf='showNextText' class="text-center">
            Success! Your rating has been saved. Start the next comparison?
          </div>
          <div *ngIf='showSkipText' class="text-center">
            The last comparison has been skipped. Start the next comparison?
          </div>
          <div *ngIf='showLastText' class="text-center">
            Success! Your rating has been saved. You have gone through all of CAM's predefined pairs but if you want
            you can start all over.
          </div>
          <div *ngIf='showSkipLastText' class="text-center">
            The last comparison has been skipped. You have gone through all of CAM's predefined pairs but if you want
            you can start all over.
          </div>
          <div *ngIf='showExportedText' class="text-center">
            All ratings from the data base have been exported to a CSV file that can be accessed in the appropriate
            folder on the server. If you want you can start a new comparison.
          </div>
          <div *ngIf='showExportingText' class="text-center">
            All ratings from the data base are being exported to a CSV file that can be accessed in the appropriate
            folder on the server. This may take a while, please be patient.
          </div>
          <div *ngIf='showConlledText' class="text-center">
            All ratings from the data base have been exported to CoNLL files that can be accessed in the appropriate
            folder on the server. If you want you can start a new comparison.
          </div>
          <div *ngIf='showConllingText' class="text-center">
            All ratings from the data base are being exported to CoNLL files that can be accessed in the appropriate
            folder on the server. This may take a while, please be patient.
          </div>
          <div *ngIf='showCreatingSentenceExamplesText' class="text-center">
            A table containing all sentence examples is being created. This may take a while, please be patient.
          </div>
          <div *ngIf='showCreatedSentenceExamplesText' class="text-center">
            A table containing all sentence examples has been created. If you want you can start a new comparison.
          </div>
        </td>
        <th class='align-middle text-center'>
          <button type="submit" mat-raised-button color="primary" [disabled]='!objectsEntered()'>
            Compare!
          </button>
        </th>
        <th class='align-middle text-center'>
          <div>
            <button (click)='start()' mat-raised-button color="primary" [disabled]='objectsEntered()'>
              Start!
            </button>
          </div>
          <div>
            <button (click)='exportRatings()' mat-raised-button color="primary">
              Export ratings to CSV
            </button>
          </div>
          <div>
            <button (click)='createConllFile()' mat-raised-button color="primary">
              Create CoNLL file
            </button>
          </div>
          <div>
            <button (click)='createSentenceExamples()' mat-raised-button color="primary">
              Create sentence examples table
            </button>
          </div>
        </th>
      </tr>
      </tbody>
    </table>
  </form>
  <div *ngIf='showLoading' class="text-center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <small>{{status}}</small>
  </div>
</mat-card>
<br>
<br>
<app-result-presentation id="resultPresentation" (chipSelected)="chipSelected($event)" (submitRatings)="submitRatingsToBackend($event)"
  (skipRating)="skipPair()"></app-result-presentation>