.slidecontainer {
  width: 53%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
}

.winner {
  background-color: rgba(24, 226, 51, 0.4);
  ;
}

.loser {
  background-color: rgba(224, 21, 21, 0.39);
}

.aspect {
  background-color: rgba(6, 220, 228, 0.4);
}

.link {
  background-color: rgba(119, 117, 117, 0.4);
}
