<h1>About</h1>
<br>
<br>
<br>
<p>The Comparative Argument Machine (CAM) project is developed by the Language Technology Group, Department of Informatics,
  University of Hamburg. As a starting point for a bigger scientific project the current version compares two objects via
  a large database. The main goal of the CAM project will be the comparison based on understanding of natural language and
  also to output natural language sentences as a result.</p>
<p>If you want to learn more about the project or help to develop it, feel free to visit its page on GitHub:</p>
<a href="https://github.com/uhh-lt/cam-hci">Link to GitHub</a>