<h1>About</h1>
<br>
<br>
<br>
<p>The Comparative Argument Machine (CAM) project is developed by the Language Technology Group, Department of Informatics,
  University of Hamburg. As a starting point for a bigger scientific project the current version compares two objects via
  a large database. The main goal of the CAM project will be the comparison based on understanding of natural language and
  also to output natural language sentences as a result.</p>
<p>If you want to learn more about the project or help to develop it, feel free to visit its page on <a href="https://github.com/uhh-lt/cam-hci">GitHub</a>.</p>

<p> The used corpus is available on <a href="https://commoncrawl.s3.amazonaws.com/contrib/depcc/CC-MAIN-2016-07/index.html">Amazon
  AWS</a>.</p>
<p>
A detailed description of the corpus, its evaluation, and the software tools used to build it are available in the
original publication: Panchenko A., Ruppert E., Faralli S., Ponzetto S. P., Biemann C. <a href="https://arxiv.org/abs/1710.01779"> Building a Web-Scale
Dependency-Parsed Corpus from Common Crawl.</a>
</p>

<p>Introduction video:</p>
<div style="text-align: center;">
  <iframe width="{{1280*0.75}}" height="{{720*0.75}}" src="https://www.youtube.com/embed/YfvKYCc9IEg" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>