<h1>About</h1>
<br>
<br>
<br>
<p>Thisz implementation of the Comparative Argument Machine (CAM) was part of a three-week-project at the University of Hamburg.
  It was one of a few different language technology projects to be realized within this time. As a starting point for a bigger
  scientific project the goal was to make CAM be able to compare two objects via a large database. The main goal of the CAM
  project will be the comparison based on understanding of natural language and also to output natural language sentences
  as a result.</p>
<p>If you want to learn more about the project or help to develop it, feel free to visit its page on GitHub:</p>
<a href="https://github.com/uhh-lt/cam-hci">Link to GitHub</a>
